<extend name="5000/Index/Base" />


<block name="customer">
    <style>
        .media{margin-bottom: 30px;border-bottom: solid 1px #ddd;}
    </style>

    <script>//循环拼接一个脚本数组
    var detail_data=[
            <foreach name="info_data_detail" item="info">
            [{$info.info_id},'{$info.im_key}','{$info.im_value}'],
    </foreach>
    [-1,'','']
    ];
    //        alert(detail_data);

    function getMeta(info_id,im_key,default_value)
    {
        for(var i=0;i<detail_data.length;i++)
        {
            if (detail_data[i][0]==info_id && detail_data[i][1]==im_key)
            {
                return detail_data[i][2];
            }
        }
        if (default_value)
            return default_value;
        else
            return 0;
    }
    </script>

    <div class="container">
        <div class="col-md-8">
            <foreach name="info_data_main" item="info"> <!--循环出主表数据-->
                <div class="row">
                    <div class="media">
                        <a class="media-left" href="#">
                            <img src="__PUBLIC__/images/php.jpg" alt="..." style="width: 80px;height: 80px">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{$info.info_title}</h4>
                            <div class="well">{$info.info_content}</div>
                            <p>
                                <span>点击量：<script>document.write(getMeta({$info.info_id},'views'));</script></span>
                                <span>评论数：<script>document.write(getMeta({$info.info_id},'review'));</script></span>
                                <!--<span>{$info.info_id}</span>-->
                            </p>
                        </div>
                    </div>
                </div>
            </foreach>

            <div class="pagination">
                {$pagebar}
            </div>
        </div>

        <div class="col-md-4">
            {:W('Info/load',array(1))}
        </div>
    </div>


</block>